<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @sound.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sound.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sound.category %>
</p>

<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
